<div class="answer fields">
  <%= f.error_messages %>
  <%= f.label :value, "Answer" %>
  <%= f.text_area :value %>
  <%= f.check_box :correct %>
  <%= f.label :correct %>
  <%= link_to_remove_fields "remove", f %>
</div>