<input type="radio" name="<%= answer.question.id %>" value="<%= answer.id %>" id="<%= answer.question.id %>" />
<label for="<%= answer.question.id %>" class="<%= 'correct' if answer.correct %>"><%= answer.value %></label>
<div class="msch-radiospacing"></div>